*{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
body{
    height: 100%;
    width: 100%;
    background-image: url("");
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loginslide{
     height: 320px;
     width: 280px;
     background-color: transparent;
     color: #000000;
     background-color: #e0e6db;
     margin-top: 118px;
     border: 1px solid rgb(0, 0, 0);
     border-radius: 15px;
     padding: 30px 30px;
     /*backdrop-filter: blur(5px);*/
}
#ff{
    color: rgb(22, 0, 73);
    margin-top: 2px;
}
#cc{
    color: rgb(22, 0, 73);
}
.hh::placeholder{
    color: #000000;
}
#loginslide h1{
    text-align: center;
    font-size: 40px;
}
#user{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    position: relative;
}
#user input{
    height: 30px;
    width: 90%;
    border-radius: 30px;
    padding: 10px;
    border:1px solid white;
    background: transparent;
}
#user i {
    position: absolute;
    margin-left: 250px;
}
#pass{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 17px;
}
#pass input{
    height: 30px;
    width: 90%;
    border-radius: 30px;
    padding: 10px;
    background: transparent;
    border:1px solid white;
}
#pass i {
    position: absolute;
    margin-left: 250px;
}
#rem{
    display: flex;
    font-size: small;
    margin-top: 10px;
}
#re{
    margin-right: 10px;
    margin-left: 10px;
    font-size: small;
    font-weight: 2px;
    color: rgb(255, 255, 255);
}
#fr{
    margin-left: 85px;
    
}
#fr a{
  text-decoration: none;
  color: rgb(0, 0, 94);
}
#fr a:hover{
    text-decoration: underline rgb(0, 0, 94);
}
#login{
    text-align: center;
    color: black;
    background: white;
    margin-top: 20px;
    height: 36px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 17px;
    width: 95%;
    margin-left: 8px;
}
#login:active{
    background-color: rgb(214, 214, 214);
}
#end{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}
#end a {
    color: rgb(0, 0, 94);
    text-decoration: none;
}
#end a:hover{
    text-decoration: underline rgb(0, 0, 94);
}
#ter{
    margin-left: 10px;
    font-weight: 400;
    font-size: small;
}
#ter:hover{
    text-decoration: underline;
}
